.control-panel {
	text-align: center;
	height: 100%;
	width: 100%;
	position: fixed;
	color: black;
	.control-nav {
		display: inline-table;
		width: 100%;
		.nav-buttons {
			display: inline-block;
			height: 150px;
			font-size: 100px;
			line-height: 150px;
			text-align: center;
			width: 50%;

		}
	}
	.container {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.panel-title {
		height: 216px;
	}
	.glyphicon { margin-right:10px; }
	.panel-body { padding:0px; }
	.panel-body table tr td { padding-left: 15px }
	.panel-body .table {margin-bottom: 0px; }
	.panel-group {
		position: fixed;
		width: 100%;
		height: 100%;
		.panel{
			margin: 0px;
			border-radius: 0px;

		}
	}

	.buttons {
		height: calc(100% - 150px); 
		position: absolute; 
		width: 100%;
		.rows-2 {
			height: 50%; 
			width: 100%; 
			display: table;
		}
		.rows-3 {
			height: 33%; 
			width: 100%; 
			display: table;
		}
		.rows-2 .btn, .rows-3 .btn {
			width:100%; 
			height: 100%; 
			font-size: 200px;     
			display: table-cell;
			vertical-align: middle;
		}
	
		
	}

}

