<div class="control-panel">
    <div class="control-nav">
        <div class="nav-buttons btn btn-default" ng-click="$ctrl.changeView('calendar')">
            Calendar
        </div>            
        <div class="nav-buttons btn btn-default" ng-click="$ctrl.changeView('weather')">
            Weather
        </div>
    </div>    
    
    <div ng-if="$ctrl.controlPanelView == 'weather'">    
        <div class="buttons" >
            <div class="rows-2">
                <div class="btn btn-default" ng-click="$ctrl.changeForecast(false)">
                    Day
                </div>
            </div> 

            <div class="rows-2">
                <div class="btn btn-default" style="" ng-click="$ctrl.changeForecast(true)">
                    Week
                </div>
            </div>    
        </div>
    </div>
    <div ng-if="$ctrl.controlPanelView == 'calendar'"> 
        <div class="buttons">
            <div class="rows-3">
                <div class="btn btn-default" ng-click="$ctrl.changeCalendarView('alek.aronin@gmail.com')">
                    Alek
                </div>
            </div>
            <div class="rows-3">
                <div class="btn btn-default" ng-click="$ctrl.changeCalendarView('inna2128506@gmail.com')">
                    Inna
                </div>
            </div>
            <div class="rows-3">
                <div class="btn btn-default" ng-click="$ctrl.changeCalendarView('steroidcat@gmail.com')">
                    Mark
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- <div class="control-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <div class="panel-heading">
                        
	                        <h4 class="panel-title">
	                            <span class="glyphicon glyphicon-folder-close">Content</span>
	                        </h4>
                    </div>
                        </a>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h4 class="panel-title">
                            <span class="glyphicon glyphicon-th">
                            Modules
                            </span>
                        </h4>
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
	                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	                        <h4 class="panel-title">
	                            <span class="glyphicon glyphicon-user">
	                            Account
	                            </span>
	                        </h4>
	                    </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
	                     <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	                        <h4 class="panel-title">
	                           <span class="glyphicon glyphicon-file">
	                            Reports
	                            </span>
	                        </h4>
	                    </a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
				</div>
			</div>	
		</div>
	</div>
</div> -->