<div class="bottom-dark-bar">

	<div class="weather-forecast">
	
		<div class="buttons">
			<div class="btn btn-default" ng-class="{'selected': $ctrl.weekView == false}" ng-click="$ctrl.changeForecast(false)">
				Day
			</div>
			<div class="btn btn-default" ng-class="{'selected': $ctrl.weekView == true}" ng-click="$ctrl.changeForecast(true)"> 
				Week 
			</div>
		</div>
		 
		<div class="forecast">
			
			<!-- Hour -->
			<div class="hourly-forecast animate-if" ng-if="!($ctrl.weekView)">
				<div class="hour" ng-repeat="hour in $ctrl.forecastHourly" on-finish-render="ngRepeatFinished">
				<canvas id="{{ 'icon-' + hour.FCTTIME.hour}}" width="90" height="90"></canvas>
					<div class="time">
						{{ hour.FCTTIME.hour }}:00
					</div>
					<div class="temp-hour">
						<span>{{ hour.temp.metric }}°</span>
					</div>
				</div>
			</div>
			
			<!-- Day -->
			<div class="daily-forecast animate-if" ng-if="$ctrl.weekView">
				<div class="day" ng-repeat="day in $ctrl.forecast7Days" on-finish-render="ngRepeatFinished">
					
					<canvas id="{{ 'icon-' + day.date.weekday_short + '-' + day.date.day}}" width="90" height="90"></canvas>
					
					<div class="weekday">
						{{ day.date.weekday_short }}	
					</div>
					<div class="high-low">
						<span>{{ day.low.celsius }}</span> | <span>{{ day.high.celsius }}</span>
					</div>
					
				</div>
			</div>


			<div class="moon-phase">
				<i ng-class="'wi wi-moon-alt-' + $ctrl.moon.ageOfMoon"></i>
				<br/>
				<span>{{ $ctrl.moon.phaseOfMoon }}</span>
			</div>

		</div>
	</div>
	

</div>
	