<div class="top-dark-bar">

	<div class="current-location">
		{{ currentLocation }}
	</div>

	<div class="current-date row">
		<div class="date col-md-2">
			{{ date }}
		</div>

		<div class="month-day col-md-10">
			<div class="month">
				{{ month }}
			</div>			
			<div class="day">
				{{ day }} 
			</div>			
		</div>
	</div>

	<div class="current-time">
		{{ currentTime }}
	</div> 

	<div class="time-zones">
		<div class="row">
			<div class="col-md-3">
				<span>{{ AlekTime }}</span>
				<span>Alek</span>
			</div>
			<div class="col-md-3">
				<span>{{ RussiaTime }}</span>
				<span>Russia</span>
			</div>
			<div class="col-md-3">
				<span>{{ TokyoTime}}</span>
				<span>Tokyo</span>			
			</div>
		</div>
	</div>


</div>